.site
  #dashboard
    .news
      %h1
        News Feed&nbsp;
        %a{ :href => "https://github.com/drnic.private.atom?token=6c131adb79448cb80d166b448c446fb2" }
          %img{ :title => "Subscribe to your personalized GitHub Feed", :src => "/images/feed.png", :alt => "feed" }
      %ul.feed_filter
        %li
          for you |
        %li
          %a{ :href => "https://github.com/dashboard/yours" }
            from you
      .alert.follow
        .body
          .title
            %a{ :href => "http://github.com/wintermi" }
              wintermi
            %span
              started following
            %a{ :href => "http://github.com/drnic" }
              drnic
            %abbr{ :title => "2009-10-12 05:51:55" }
              %abbr.relatize.relatized{ :title => "2009-10-12 05:51:55" }
                2 minutes ago
          .details
            .gravatar
              %img{ :src => "/images/cb2b768a5e546b24052ea03334e43676.jpg", :height => "30", :alt => "", :width => "30" }
            .message
              drnic has
              105
              public repos
              and 564
              followers.
      .alert.issues_opened
        .body
          .title
            %a{ :href => "http://github.com/Rakoth" }
              Rakoth
            %span
              opened
            %a{ :href => "http://github.com/brynary/webrat/issues/27/find" }
              issue 27
            on
            %a{ :href => "http://github.com/brynary/webrat" }
              brynary/webrat
            %abbr{ :title => "2009-10-12 05:49:38" }
              %abbr.relatize.relatized{ :title => "2009-10-12 05:49:38" }
                4 minutes ago
          .details
            .gravatar
              %img{ :src => "/images/c4eb02ef0d5e1474bbfe5be14ed6adf8.jpg", :height => "30", :alt => "", :width => "30" }
            .message
              %blockquote
                attach_file with nested attributes
      .alert.push
        .body
          .title
            %a{ :href => "https://github.com/oggy" }
              oggy
            %span
              pushed
            to
            master
            at
            %a{ :href => "http://github.com/oggy/ruby-bash-completion/tree/master" }
              oggy/ruby-bash-completion
            %abbr.relatize.relatized{ :title => "2009-10-12 05:34:41" }
              19 minutes ago
          .details
            .gravatar
              %img{ :src => "/images/c515daf003a781a638d8a01e41a935a0.png", :height => "30", :alt => "", :width => "30" }
            HEAD is
            %a{ :href => "http://github.com/oggy/ruby-bash-completion/tree/7ff0c2e91d2fb346f4cbd98aaba5119082b410bd" }
              7ff0c2e91d2fb346f4cbd98aaba5119082b410bd
            %a.hide_commits{ :href => "#", :style => "display: none;" }
              x
            %img.spin{ :src => "/images/indicator.gif", :style => "display: none;" }
            .commits
              %ul
                %li.first
                  %img{ :src => "/images/a16f8e5e806ff4992128e0ee0647c5f0.png", :height => "16", :alt => "", :width => "16" }
                  %a.committer{ :href => "http://github.com/guns" }
                    guns
                  committed
                  %a{ :href => "http://github.com/oggy/ruby-bash-completion/commit/7ff0c2e91d2fb346f4cbd98aaba5119082b410bd" }
                    7ff0c2e9
                  \:
                  .message
                    %blockquote{ :title => "changed for loop to not use `seq', which is non-portable" }
                      changed for loop to not use `seq', which is non-portable
      .alert.push
        .body
          .title
            %a{ :href => "https://github.com/aslakhellesoy" }
              aslakhellesoy
            %span
              pushed
            to
            master
            at
            %a{ :href => "http://github.com/aslakhellesoy/cucumber/tree/master" }
              aslakhellesoy/cucumber
            %abbr.relatize.relatized{ :title => "2009-10-12 05:09:54" }
              44 minutes ago
          .details
            .gravatar
              %img{ :src => "/images/0be0e4aa42aacd9a8a95c792de273ca7_002.jpg", :height => "30", :alt => "", :width => "30" }
            HEAD is
            %a{ :href => "http://github.com/aslakhellesoy/cucumber/tree/22c8372f484e145623010f89c42bcd4997e0affa" }
              22c8372f484e145623010f89c42bcd4997e0affa
            %a.hide_commits{ :href => "#", :style => "display: none;" }
              x
            %img.spin{ :src => "/images/indicator.gif", :style => "display: none;" }
            .commits
              %ul
                %li.first
                  %img{ :src => "/images/0be0e4aa42aacd9a8a95c792de273ca7.jpg", :height => "16", :alt => "", :width => "16" }
                  %a.committer{ :href => "http://github.com/aslakhellesoy" }
                    aslakhellesoy
                  committed
                  %a{ :href => "http://github.com/aslakhellesoy/cucumber/commit/22c8372f484e145623010f89c42bcd4997e0affa" }
                    22c8372f
                  \:
                  .message
                    %blockquote{ :title => "More tweaks to make features run on more rubies: 1.8.6, 1.8.7, 1.9.1 and JRuby 1.4.0RC1. Windows is up next." }
                      More tweaks to make features run on more rubies: 1.8.6, 1.8.7, 1.9.1 and JRuby 1.4.0RC1. Windows is up next.
      .alert.create
        .body
          .title
            %a{ :href => "https://github.com/hassox" }
              hassox
            %span
              created
            tag
            %a{ :href => "http://github.com/hassox/warden/tree/v0.4.0" }
              v0.4.0
            at hassox/warden
            %abbr{ :title => "2009-10-12 03:37:58" }
              %abbr.relatize.relatized{ :title => "2009-10-12 03:37:58" }
                about 2 hours ago
          .details
            .gravatar
              %img{ :src => "/images/9d1f5d2d9de70bd9a934f557dc95a406.jpg", :height => "30", :alt => "", :width => "30" }
            .message
              New tag is at
              %a{ :href => "http://github.com/hassox/warden/tree/v0.4.0" }
                hassox/warden/tree/v0.4.0
      .alert.push
        .body
          .title
            %a{ :href => "https://github.com/hassox" }
              hassox
            %span
              pushed
            to
            master
            at
            %a{ :href => "http://github.com/hassox/warden/tree/master" }
              hassox/warden
            %abbr.relatize.relatized{ :title => "2009-10-12 03:37:53" }
              about 2 hours ago
          .details
            .gravatar
              %img{ :src => "/images/9d1f5d2d9de70bd9a934f557dc95a406.jpg", :height => "30", :alt => "", :width => "30" }
            HEAD is
            %a{ :href => "http://github.com/hassox/warden/tree/6e730910608393dea60c350fbb42647a002700fa" }
              6e730910608393dea60c350fbb42647a002700fa
            %a.hide_commits{ :href => "#", :style => "display: none;" }
              x
            %p.reveal
              %a.reveal_commits{ :href => "#" }
                2 commits »
            %img.spin{ :src => "/images/indicator.gif", :style => "display: none;" }
            .commits{ :style => "display: none;" }
              %ul
                %li.first
                  %img{ :src => "/images/9d1f5d2d9de70bd9a934f557dc95a406_002.jpg", :height => "16", :alt => "", :width => "16" }
                  %a.committer{ :href => "http://github.com/hassox" }
                    hassox
                  committed
                  %a{ :href => "http://github.com/hassox/warden/commit/6e730910608393dea60c350fbb42647a002700fa" }
                    6e730910
                  \:
                  .message
                    %blockquote{ :title => "Regenerated gemspec for version 0.4.0" }
                      Regenerated gemspec for version 0.4.0
                %li
                  %img{ :src => "/images/9d1f5d2d9de70bd9a934f557dc95a406_002.jpg", :height => "16", :alt => "", :width => "16" }
                  %a.committer{ :href => "http://github.com/hassox" }
                    hassox
                  committed
                  %a{ :href => "http://github.com/hassox/warden/commit/bf575b35755c4d4172eb6db5721714de2121a7e4" }
                    bf575b35
                  \:
                  .message
                    %blockquote{ :title => "Version bump to 0.4.0" }
                      Version bump to 0.4.0
      .alert.watch_started
        .body
          .title
            %a{ :href => "http://github.com/dalibor" }
              dalibor
            %span
              started watching
            %a{ :href => "http://github.com/drnic/newgem" }
              drnic/newgem
            %abbr{ :title => "2009-10-12 03:33:20" }
              %abbr.relatize.relatized{ :title => "2009-10-12 03:33:20" }
                about 2 hours ago
          .details
            .gravatar
              %img{ :src => "/images/5d0be7db35e8c5d24a0b63f4de463430.png", :height => "30", :alt => "", :width => "30" }
            .message
              newgem's description:
              %blockquote
                newgem - New Gem Generator for RubyGems
      .alert.watch_started
        .body
          .title
            %a{ :href => "http://github.com/andrew" }
              andrew
            %span
              started watching
            %a{ :href => "http://github.com/drnic/octokittylitter" }
              drnic/octokittylitter
            %abbr{ :title => "2009-10-12 02:57:24" }
              %abbr.relatize.relatized{ :title => "2009-10-12 02:57:24" }
                about 2 hours ago
          .details
            .gravatar
              %img{ :src => "/images/8ddbf811da78bb0daeeb3cacd7cf743f.jpg", :height => "30", :alt => "", :width => "30" }
            .message
              octokittylitter's description:
              %blockquote
                Sandbox for Github - an application to aide integration testing
      .alert.push
        .body
          .title
            %a{ :href => "https://github.com/aslakhellesoy" }
              aslakhellesoy
            %span
              pushed
            to
            master
            at
            %a{ :href => "http://github.com/aslakhellesoy/cucumber/tree/master" }
              aslakhellesoy/cucumber
            %abbr.relatize.relatized{ :title => "2009-10-12 02:11:42" }
              about 3 hours ago
          .details
            .gravatar
              %img{ :src => "/images/0be0e4aa42aacd9a8a95c792de273ca7_002.jpg", :height => "30", :alt => "", :width => "30" }
            HEAD is
            %a{ :href => "http://github.com/aslakhellesoy/cucumber/tree/0f69ab143da05b5b8313eab61b8676c66503644a" }
              0f69ab143da05b5b8313eab61b8676c66503644a
            %a.hide_commits{ :href => "#", :style => "display: none;" }
              x
            %p.reveal
              %a.reveal_commits{ :href => "#" }
                2 commits »
            %img.spin{ :src => "/images/indicator.gif", :style => "display: none;" }
            .commits{ :style => "display: none;" }
              %ul
                %li.first
                  %img{ :src => "/images/0be0e4aa42aacd9a8a95c792de273ca7.jpg", :height => "16", :alt => "", :width => "16" }
                  %a.committer{ :href => "http://github.com/aslakhellesoy" }
                    aslakhellesoy
                  committed
                  %a{ :href => "http://github.com/aslakhellesoy/cucumber/commit/0f69ab143da05b5b8313eab61b8676c66503644a" }
                    0f69ab14
                  \:
                  .message
                    %blockquote{ :title => "Improve code readbility around StepMatch" }
                      Improve code readbility around StepMatch
                %li
                  %img{ :src => "/images/0be0e4aa42aacd9a8a95c792de273ca7.jpg", :height => "16", :alt => "", :width => "16" }
                  %a.committer{ :href => "http://github.com/aslakhellesoy" }
                    aslakhellesoy
                  committed
                  %a{ :href => "http://github.com/aslakhellesoy/cucumber/commit/1f212fe938bac0b3b83baff20aae79403839562f" }
                    1f212fe9
                  \:
                  .message
                    %blockquote{ :title => "removed unused code" }
                      removed unused code
      .alert.watch_started
        .body
          .title
            %a{ :href => "http://github.com/mkhl" }
              mkhl
            %span
              started watching
            %a{ :href => "http://github.com/visionmedia/gh" }
              visionmedia/gh
            %abbr{ :title => "2009-10-12 00:00:56" }
              %abbr.relatize.relatized{ :title => "2009-10-12 00:00:56" }
                about 5 hours ago
          .details
            .gravatar
              %img{ :src => "/images/661c58274e3f437234236553e2dc156f.png", :height => "30", :alt => "", :width => "30" }
            .message
              gh's description:
              %blockquote
                Github bash utilities
      .alert.push
        .body
          .title
            %a{ :href => "https://github.com/masterkain" }
              masterkain
            %span
              pushed
            to
            master
            at
            %a{ :href => "http://github.com/masterkain/macruby/tree/master" }
              masterkain/macruby
            %abbr.relatize.relatized{ :title => "2009-10-11 22:45:47" }
              about 7 hours ago
          .details
            .gravatar
              %img{ :src => "/images/25e782eb7e799e78d781b0026fc6a4d8.jpg", :height => "30", :alt => "", :width => "30" }
            HEAD is
            %a{ :href => "http://github.com/masterkain/macruby/tree/48bf5280ccc5d6610ae836c9cf8fac32dee21034" }
              48bf5280ccc5d6610ae836c9cf8fac32dee21034
            %a.hide_commits{ :href => "#", :style => "display: none;" }
              x
            %img.spin{ :src => "/images/indicator.gif", :style => "display: none;" }
            .commits
              %ul
                %li.first
                  %img{ :src => "/images/83456b63fc3f9c99ca505323169ff610.png", :height => "16", :alt => "", :width => "16" }
                  %span.committer
                    lsansonetti@apple.com
                  committed
                  %a{ :href => "http://github.com/masterkain/macruby/commit/48bf5280ccc5d6610ae836c9cf8fac32dee21034" }
                    48bf5280
                  \:
                  .message
                    %blockquote{ :title => "added support for AOT compilation of literal bignums\n\ngit-svn-id: http://svn.macosforge.org/repository/ruby/MacRuby/trunk@2782 23306eb0-4c56-4727-a40e-e92c0eb68959" }
                      added support for AOT compilation of literal bignums
      .alert.push
        .body
          .title
            %a{ :href => "https://github.com/bjeanes" }
              bjeanes
            %span
              pushed
            to
            master
            at
            %a{ :href => "https://github.com/hashrocket/pharmmd/tree/master" }
              hashrocket/pharmmd
            %abbr.relatize.relatized{ :title => "2009-10-11 22:30:52" }
              about 7 hours ago
          .details
            .gravatar
              %img{ :src => "/images/673b3af90381f26882b7e7283ab137fa.jpg", :height => "30", :alt => "", :width => "30" }
            HEAD is
            %a{ :href => "https://github.com/hashrocket/pharmmd/tree/e210506bcf7eb562a30df701e3253d820f28b1b9" }
              e210506bcf7eb562a30df701e3253d820f28b1b9
            %a.hide_commits{ :href => "#", :style => "display: none;" }
              x
            %p.reveal
              %a.reveal_commits{ :href => "#" }
                5 commits »
            %img.spin{ :src => "/images/indicator.gif", :style => "display: none;" }
            .commits{ :style => "display: none;" }
              %ul
                %li.first
                  %img{ :src => "/images/b2ebf1ace94370d75c8552cce1555a69.jpg", :height => "16", :alt => "", :width => "16" }
                  %span.committer
                    Bodaniel Jeanes and Dr Nic Williams
                  committed
                  %a{ :href => "https://github.com/hashrocket/pharmmd/commit/e210506bcf7eb562a30df701e3253d820f28b1b9" }
                    e210506b
                  \:
                  .message
                    %blockquote{ :title => "Acceptance clarification" }
                      Acceptance clarification
                %li
                  %img{ :src => "/images/b2ebf1ace94370d75c8552cce1555a69.jpg", :height => "16", :alt => "", :width => "16" }
                  %span.committer
                    Bodaniel Jeanes and Dr Nic Williams
                  committed
                  %a{ :href => "https://github.com/hashrocket/pharmmd/commit/eea4d281fa9fb8bc1ed80428442f4bc8a17967bc" }
                    eea4d281
                  \:
                  .message
                    %blockquote{ :title => "Commenting out global rescue_from because it's getting in the way of debugging errors in development and I have a suspicion this will prevent hoptoad seeing these exceptions when in production/staging mode" }
                      Commenting out global rescue_from because it's getting in the way of
                      debugging errors in development and I have a suspicion this will
                      prevent hoptoad seeing these exceptions when in production/staging mode
                %li
                  %img{ :src => "/images/b2ebf1ace94370d75c8552cce1555a69.jpg", :height => "16", :alt => "", :width => "16" }
                  %span.committer
                    Bodaniel Jeanes and Dr Nic Williams
                  committed
                  %a{ :href => "https://github.com/hashrocket/pharmmd/commit/9856501e76764c9ddcf7c1ef60de7e6df29df36e" }
                    9856501e
                  \:
                  .message
                    %blockquote{ :title => "Finished &quot;Technician Assigns an Inbound Fax to a patient.&quot; (#1384855)" }
                      Finished "Technician Assigns an Inbound Fax to a patient." (#1384855)
                %li
                  %img{ :src => "/images/b2ebf1ace94370d75c8552cce1555a69.jpg", :height => "16", :alt => "", :width => "16" }
                  %span.committer
                    Bodaniel Jeanes and Dr Nic Williams
                  committed
                  %a{ :href => "https://github.com/hashrocket/pharmmd/commit/4600fb72447ffe8e77c6f04f986c3ee44801b79a" }
                    4600fb72
                  \:
                  .message
                    %blockquote{ :title => "Fix feature" }
                      Fix feature
                %li
                  %img{ :src => "/images/b2ebf1ace94370d75c8552cce1555a69.jpg", :height => "16", :alt => "", :width => "16" }
                  %span.committer
                    Bodaniel Jeanes and Dr Nic Williams
                  committed
                  %a{ :href => "https://github.com/hashrocket/pharmmd/commit/25337de2b3205f6dac36ae8c82a9d388ebd77040" }
                    25337de2
                  \:
                  .message
                    %blockquote{ :title => "Upgraded cucumber" }
                      Upgraded cucumber
      .alert.push
        .body
          .title
            %a{ :href => "https://github.com/masterkain" }
              masterkain
            %span
              pushed
            to
            master
            at
            %a{ :href => "http://github.com/masterkain/macruby/tree/master" }
              masterkain/macruby
            %abbr.relatize.relatized{ :title => "2009-10-11 22:15:49" }
              about 7 hours ago
          .details
            .gravatar
              %img{ :src => "/images/25e782eb7e799e78d781b0026fc6a4d8.jpg", :height => "30", :alt => "", :width => "30" }
            HEAD is
            %a{ :href => "http://github.com/masterkain/macruby/tree/5c84c9eb2f96cad002c1e349f5800b6be121ea02" }
              5c84c9eb2f96cad002c1e349f5800b6be121ea02
            %a.hide_commits{ :href => "#", :style => "display: none;" }
              x
            %img.spin{ :src => "/images/indicator.gif", :style => "display: none;" }
            .commits
              %ul
                %li.first
                  %img{ :src => "/images/83456b63fc3f9c99ca505323169ff610.png", :height => "16", :alt => "", :width => "16" }
                  %span.committer
                    lsansonetti@apple.com
                  committed
                  %a{ :href => "http://github.com/masterkain/macruby/commit/5c84c9eb2f96cad002c1e349f5800b6be121ea02" }
                    5c84c9eb
                  \:
                  .message
                    %blockquote{ :title => "make sure the init function name doesn't contain '-'\n\ngit-svn-id: http://svn.macosforge.org/repository/ruby/MacRuby/trunk@2781 23306eb0-4c56-4727-a40e-e92c0eb68959" }
                      make sure the init function name doesn't contain '-'
      .alert.watch_started
        .body
          .title
            %a{ :href => "http://github.com/rafaelmazza" }
              rafaelmazza
            %span
              started watching
            %a{ :href => "http://github.com/drnic/github-tmbundle" }
              drnic/github-tmbundle
            %abbr{ :title => "2009-10-11 22:09:56" }
              %abbr.relatize.relatized{ :title => "2009-10-11 22:09:56" }
                about 7 hours ago
          .details
            .gravatar
              %img{ :src => "/images/f7884c7bd6f61ab4509fd03f3796c81b.png", :height => "30", :alt => "", :width => "30" }
            .message
              github-tmbundle's description:
              %blockquote
                TextMate bundle for working with GitHub
      .alert.wiki
        .body
          .title
            %a{ :href => "http://github.com/dstrelau" }
              dstrelau
            %span
              edited
            a page in the
            %a{ :href => "http://github.com/tobi/delayed_job" }
              tobi/delayed_job
            wiki
            %abbr{ :title => "2009-10-11 20:54:46" }
              %abbr.relatize.relatized{ :title => "2009-10-11 20:54:46" }
                about 8 hours ago
          .details
            .gravatar
              %img{ :src => "/images/41134a2aaccc46d2c00689e3a7e26b3f.png", :height => "30", :alt => "", :width => "30" }
            .message
              "Forks" is at
              %a{ :href => "http://github.com/tobi/delayed_job/wikis/forks" }
                tobi/delayed_job/wikis/forks
      .alert.wiki
        .body
          .title
            %a{ :href => "http://github.com/dstrelau" }
              dstrelau
            %span
              edited
            a page in the
            %a{ :href => "http://github.com/tobi/delayed_job" }
              tobi/delayed_job
            wiki
            %abbr{ :title => "2009-10-11 20:30:05" }
              %abbr.relatize.relatized{ :title => "2009-10-11 20:30:05" }
                about 9 hours ago
          .details
            .gravatar
              %img{ :src => "/images/41134a2aaccc46d2c00689e3a7e26b3f.png", :height => "30", :alt => "", :width => "30" }
            .message
              "Forks" is at
              %a{ :href => "http://github.com/tobi/delayed_job/wikis/forks" }
                tobi/delayed_job/wikis/forks
      .alert.wiki
        .body
          .title
            %a{ :href => "http://github.com/dstrelau" }
              dstrelau
            %span
              edited
            a page in the
            %a{ :href => "http://github.com/tobi/delayed_job" }
              tobi/delayed_job
            wiki
            %abbr{ :title => "2009-10-11 20:28:28" }
              %abbr.relatize.relatized{ :title => "2009-10-11 20:28:28" }
                about 9 hours ago
          .details
            .gravatar
              %img{ :src => "/images/41134a2aaccc46d2c00689e3a7e26b3f.png", :height => "30", :alt => "", :width => "30" }
            .message
              "Forks" is at
              %a{ :href => "http://github.com/tobi/delayed_job/wikis/forks" }
                tobi/delayed_job/wikis/forks
      .alert.watch_started
        .body
          .title
            %a{ :href => "http://github.com/liangzan" }
              liangzan
            %span
              started watching
            %a{ :href => "http://github.com/drnic/install_theme" }
              drnic/install_theme
            %abbr{ :title => "2009-10-11 20:07:59" }
              %abbr.relatize.relatized{ :title => "2009-10-11 20:07:59" }
                about 9 hours ago
          .details
            .gravatar
              %img{ :src => "/images/8f6dbf5d1c0342aa8248a655d32f799d.jpg", :height => "30", :alt => "", :width => "30" }
            .message
              install_theme's description:
              %blockquote
                Use any HTML template as a theme generator for your Rails app.
      .alert.issues_closed
        .body
          .title
            %a{ :href => "http://github.com/karnowski" }
              karnowski
            %span
              closed
            %a{ :href => "http://github.com/relevance/blue-ridge/issues/22/find" }
              issue 22
            on
            %a{ :href => "http://github.com/relevance/blue-ridge" }
              relevance/blue-ridge
            %abbr{ :title => "2009-10-11 19:38:27" }
              %abbr.relatize.relatized{ :title => "2009-10-11 19:38:27" }
                about 10 hours ago
          .details
            .gravatar
              %img{ :src => "/images/884d1b91b3185f580f01a8b2d51af8bc.jpg", :height => "30", :alt => "", :width => "30" }
            .message
              %blockquote
                Can't find hasClassName when loading lowpro and prototype together
      .alert.issues_closed
        .body
          .title
            %a{ :href => "http://github.com/karnowski" }
              karnowski
            %span
              closed
            %a{ :href => "http://github.com/relevance/blue-ridge/issues/23/find" }
              issue 23
            on
            %a{ :href => "http://github.com/relevance/blue-ridge" }
              relevance/blue-ridge
            %abbr{ :title => "2009-10-11 19:29:45" }
              %abbr.relatize.relatized{ :title => "2009-10-11 19:29:45" }
                about 10 hours ago
          .details
            .gravatar
              %img{ :src => "/images/884d1b91b3185f580f01a8b2d51af8bc.jpg", :height => "30", :alt => "", :width => "30" }
            .message
              %blockquote
                Does blue-ridge support cookie test?
      .alert.issues_closed
        .body
          .title
            %a{ :href => "http://github.com/karnowski" }
              karnowski
            %span
              closed
            %a{ :href => "http://github.com/relevance/blue-ridge/issues/25/find" }
              issue 25
            on
            %a{ :href => "http://github.com/relevance/blue-ridge" }
              relevance/blue-ridge
            %abbr{ :title => "2009-10-11 19:27:09" }
              %abbr.relatize.relatized{ :title => "2009-10-11 19:27:09" }
                about 10 hours ago
          .details
            .gravatar
              %img{ :src => "/images/884d1b91b3185f580f01a8b2d51af8bc.jpg", :height => "30", :alt => "", :width => "30" }
            .message
              %blockquote
                Use of $ in test_runner.js a problem when using jQuery.noConfict()
      .alert.push
        .body
          .title
            %a{ :href => "https://github.com/karnowski" }
              karnowski
            %span
              pushed
            to
            master
            at
            %a{ :href => "http://github.com/relevance/blue-ridge/tree/master" }
              relevance/blue-ridge
            %abbr.relatize.relatized{ :title => "2009-10-11 19:26:39" }
              about 10 hours ago
          .details
            .gravatar
              %img{ :src => "/images/884d1b91b3185f580f01a8b2d51af8bc.jpg", :height => "30", :alt => "", :width => "30" }
            HEAD is
            %a{ :href => "http://github.com/relevance/blue-ridge/tree/ac5a7a103abe732a78fe86f3899d1c0f5334c827" }
              ac5a7a103abe732a78fe86f3899d1c0f5334c827
            %a.hide_commits{ :href => "#", :style => "display: none;" }
              x
            %img.spin{ :src => "/images/indicator.gif", :style => "display: none;" }
            .commits
              %ul
                %li.first
                  %img{ :src => "/images/884d1b91b3185f580f01a8b2d51af8bc_002.jpg", :height => "16", :alt => "", :width => "16" }
                  %a.committer{ :href => "http://github.com/karnowski" }
                    karnowski
                  committed
                  %a{ :href => "http://github.com/relevance/blue-ridge/commit/ac5a7a103abe732a78fe86f3899d1c0f5334c827" }
                    ac5a7a10
                  \:
                  .message
                    %blockquote{ :title => "Oops, some &quot;$&quot;'s had crept in where we meant &quot;jQuery&quot;'s.  (issue #25, thanks aiwilliams!)" }
                      Oops, some "$"'s had crept in where we meant "jQuery"'s.  (issue #25, thanks aiwilliams!)
      .alert.issues_closed
        .body
          .title
            %a{ :href => "http://github.com/karnowski" }
              karnowski
            %span
              closed
            %a{ :href => "http://github.com/relevance/blue-ridge/issues/27/find" }
              issue 27
            on
            %a{ :href => "http://github.com/relevance/blue-ridge" }
              relevance/blue-ridge
            %abbr{ :title => "2009-10-11 19:23:05" }
              %abbr.relatize.relatized{ :title => "2009-10-11 19:23:05" }
                about 10 hours ago
          .details
            .gravatar
              %img{ :src => "/images/884d1b91b3185f580f01a8b2d51af8bc.jpg", :height => "30", :alt => "", :width => "30" }
            .message
              %blockquote
                ajax mocking
      .alert.issues_closed
        .body
          .title
            %a{ :href => "http://github.com/karnowski" }
              karnowski
            %span
              closed
            %a{ :href => "http://github.com/relevance/blue-ridge/issues/26/find" }
              issue 26
            on
            %a{ :href => "http://github.com/relevance/blue-ridge" }
              relevance/blue-ridge
            %abbr{ :title => "2009-10-11 19:21:51" }
              %abbr.relatize.relatized{ :title => "2009-10-11 19:21:51" }
                about 10 hours ago
          .details
            .gravatar
              %img{ :src => "/images/884d1b91b3185f580f01a8b2d51af8bc.jpg", :height => "30", :alt => "", :width => "30" }
            .message
              %blockquote
                rake js:shell won't work without lib/env.rhino.js
      .alert.push
        .body
          .title
            %a{ :href => "https://github.com/karnowski" }
              karnowski
            %span
              pushed
            to
            master
            at
            %a{ :href => "http://github.com/relevance/blue-ridge/tree/master" }
              relevance/blue-ridge
            %abbr.relatize.relatized{ :title => "2009-10-11 19:20:08" }
              about 10 hours ago
          .details
            .gravatar
              %img{ :src => "/images/884d1b91b3185f580f01a8b2d51af8bc.jpg", :height => "30", :alt => "", :width => "30" }
            HEAD is
            %a{ :href => "http://github.com/relevance/blue-ridge/tree/6128c60d2daf67685d8225299669d457048ed851" }
              6128c60d2daf67685d8225299669d457048ed851
            %a.hide_commits{ :href => "#", :style => "display: none;" }
              x
            %p.reveal
              %a.reveal_commits{ :href => "#" }
                2 commits »
            %img.spin{ :src => "/images/indicator.gif", :style => "display: none;" }
            .commits{ :style => "display: none;" }
              %ul
                %li.first
                  %img{ :src => "/images/884d1b91b3185f580f01a8b2d51af8bc_002.jpg", :height => "16", :alt => "", :width => "16" }
                  %a.committer{ :href => "http://github.com/karnowski" }
                    karnowski
                  committed
                  %a{ :href => "http://github.com/relevance/blue-ridge/commit/6128c60d2daf67685d8225299669d457048ed851" }
                    6128c60d
                  \:
                  .message
                    %blockquote{ :title => "Updated to env.js 1.0.rc7.\n\n  - Updated the env.rhino.js and env-js.jar files.\n  - Note that the shell defined in env-js.jar doesn't\n    define &quot;quit()&quot; anymore, so I had to change our\n    `rake js:shell` script to implement its own &quot;quit&quot;\n    and &quot;exit&quot; commands." }
                      Updated to env.js 1.0.rc7.
                %li
                  %img{ :src => "/images/884d1b91b3185f580f01a8b2d51af8bc_002.jpg", :height => "16", :alt => "", :width => "16" }
                  %a.committer{ :href => "http://github.com/karnowski" }
                    karnowski
                  committed
                  %a{ :href => "http://github.com/relevance/blue-ridge/commit/0033299f015c2bdea1c68ae9cca1de6aa48e55ed" }
                    0033299f
                  \:
                  .message
                    %blockquote{ :title => "Made the &quot;rake js:shell&quot; command work with env.js and jQuery moved to the &quot;vendor&quot; directory." }
                      Made the "rake js:shell" command work with env.js and jQuery moved to the "vendor" directory.
      .alert.wiki
        .body
          .title
            %a{ :href => "http://github.com/scottlaplant" }
              scottlaplant
            %span
              created
            a page in the
            %a{ :href => "http://github.com/michaeldv/fat_free_crm" }
              michaeldv/fat_free_crm
            wiki
            %abbr{ :title => "2009-10-11 19:04:51" }
              %abbr.relatize.relatized{ :title => "2009-10-11 19:04:51" }
                about 10 hours ago
          .details
            .gravatar
              %img{ :src => "/images/ada3940590c777e4ee753cc7ad004484.jpg", :height => "30", :alt => "", :width => "30" }
            .message
              "Loading demo data" is at
              %a{ :href => "http://github.com/michaeldv/fat_free_crm/wikis/loading-demo-data" }
                michaeldv/fat_free_crm/wikis/loading-demo-data
      .alert.watch_started
        .body
          .title
            %a{ :href => "http://github.com/ryanb" }
              ryanb
            %span
              started watching
            %a{ :href => "http://github.com/technicalpickles/jeweler" }
              technicalpickles/jeweler
            %abbr{ :title => "2009-10-11 18:56:25" }
              %abbr.relatize.relatized{ :title => "2009-10-11 18:56:25" }
                about 10 hours ago
          .details
            .gravatar
              %img{ :src => "/images/8dbf316d36ff66aad4869a4fc3cfbd37.jpg", :height => "30", :alt => "", :width => "30" }
            .message
              jeweler's description:
              %blockquote
                Simple and opinionated helper for creating and managing Rubygem projects on GitHub
      .alert.push
        .body
          .title
            %a{ :href => "https://github.com/bjeanes" }
              bjeanes
            %span
              pushed
            to
            master
            at
            %a{ :href => "https://github.com/hashrocket/pharmmd/tree/master" }
              hashrocket/pharmmd
            %abbr.relatize.relatized{ :title => "2009-10-11 18:43:36" }
              about 11 hours ago
          .details
            .gravatar
              %img{ :src => "/images/673b3af90381f26882b7e7283ab137fa.jpg", :height => "30", :alt => "", :width => "30" }
            HEAD is
            %a{ :href => "https://github.com/hashrocket/pharmmd/tree/3892d8d822d990dd139ba9ca1d35687edf573283" }
              3892d8d822d990dd139ba9ca1d35687edf573283
            %a.hide_commits{ :href => "#", :style => "display: none;" }
              x
            %p.reveal
              %a.reveal_commits{ :href => "#" }
                2 commits »
            %img.spin{ :src => "/images/indicator.gif", :style => "display: none;" }
            .commits{ :style => "display: none;" }
              %ul
                %li.first
                  %img{ :src => "/images/b2ebf1ace94370d75c8552cce1555a69.jpg", :height => "16", :alt => "", :width => "16" }
                  %span.committer
                    Bodaniel Jeanes and Dr Nic Williams
                  committed
                  %a{ :href => "https://github.com/hashrocket/pharmmd/commit/3892d8d822d990dd139ba9ca1d35687edf573283" }
                    3892d8d8
                  \:
                  .message
                    %blockquote{ :title => "only call #strip on barcode string if not nil" }
                      only call #strip on barcode string if not nil
                %li
                  %img{ :src => "/images/b2ebf1ace94370d75c8552cce1555a69.jpg", :height => "16", :alt => "", :width => "16" }
                  %span.committer
                    Bodaniel Jeanes and Dr Nic Williams
                  committed
                  %a{ :href => "https://github.com/hashrocket/pharmmd/commit/9f7061324e6196382dcd644774a8fd25eee5de80" }
                    9f706132
                  \:
                  .message
                    %blockquote{ :title => "Communication type column is blank for inbound faxes" }
                      Communication type column is blank for inbound faxes
      .alert.push
        .body
          .title
            %a{ :href => "https://github.com/bjeanes" }
              bjeanes
            %span
              pushed
            to
            master
            at
            %a{ :href => "https://github.com/hashrocket/pharmmd/tree/master" }
              hashrocket/pharmmd
            %abbr.relatize.relatized{ :title => "2009-10-11 18:23:11" }
              about 11 hours ago
          .details
            .gravatar
              %img{ :src => "/images/673b3af90381f26882b7e7283ab137fa.jpg", :height => "30", :alt => "", :width => "30" }
            HEAD is
            %a{ :href => "https://github.com/hashrocket/pharmmd/tree/403cf0e53f27dc9e704b01002b31b7561314b244" }
              403cf0e53f27dc9e704b01002b31b7561314b244
            %a.hide_commits{ :href => "#", :style => "display: none;" }
              x
            %img.spin{ :src => "/images/indicator.gif", :style => "display: none;" }
            .commits
              %ul
                %li.first
                  %img{ :src => "/images/b2ebf1ace94370d75c8552cce1555a69.jpg", :height => "16", :alt => "", :width => "16" }
                  %span.committer
                    Bodaniel Jeanes and Dr Nic Williams
                  committed
                  %a{ :href => "https://github.com/hashrocket/pharmmd/commit/403cf0e53f27dc9e704b01002b31b7561314b244" }
                    403cf0e5
                  \:
                  .message
                    %blockquote{ :title => "Fixed inbound fax bug -- barcodes where being read with new line at end of them, causing it to fail to find the patient" }
                      Fixed inbound fax bug -- barcodes where being read with new line at end
                      of them, causing it to fail to find the patient
      .alert.fork_apply
        .body
          .title
            %a{ :href => "http://github.com/hassox" }
              hassox
            %span
              applied
            fork commits to
            %a{ :href => "http://github.com/hassox/warden/tree/master" }
              warden/master
            %abbr{ :title => "2009-10-11 17:57:39" }
              %abbr.relatize.relatized{ :title => "2009-10-11 17:57:39" }
                about 11 hours ago
          .details
            .gravatar
              %img{ :src => "/images/9d1f5d2d9de70bd9a934f557dc95a406.jpg", :height => "30", :alt => "", :width => "30" }
            .message
              %b
                master
              was changed to
              %a{ :href => "http://github.com/hassox/warden/commit/223a304072dcb0dfd5764314bf89e53af778caef" }
                223a30
      .alert.fork_apply
        .body
          .title
            %a{ :href => "http://github.com/hassox" }
              hassox
            %span
              applied
            fork commits to
            %a{ :href => "http://github.com/hassox/warden/tree/master" }
              warden/master
            %abbr{ :title => "2009-10-11 17:57:14" }
              %abbr.relatize.relatized{ :title => "2009-10-11 17:57:14" }
                about 11 hours ago
          .details
            .gravatar
              %img{ :src => "/images/9d1f5d2d9de70bd9a934f557dc95a406.jpg", :height => "30", :alt => "", :width => "30" }
            .message
              %b
                master
              was changed to
              %a{ :href => "http://github.com/hassox/warden/commit/dcd2f43856533088576e0475b219776f46531710" }
                dcd2f4
      .alert.push
        .body
          .title
            %a{ :href => "https://github.com/bjeanes" }
              bjeanes
            %span
              pushed
            to
            master
            at
            %a{ :href => "https://github.com/hashrocket/pharmmd/tree/master" }
              hashrocket/pharmmd
            %abbr.relatize.relatized{ :title => "2009-10-11 17:57:09" }
              about 11 hours ago
          .details
            .gravatar
              %img{ :src => "/images/673b3af90381f26882b7e7283ab137fa.jpg", :height => "30", :alt => "", :width => "30" }
            HEAD is
            %a{ :href => "https://github.com/hashrocket/pharmmd/tree/b536a1f6ed4f3914b29c27d09f1e118587bdd36e" }
              b536a1f6ed4f3914b29c27d09f1e118587bdd36e
            %a.hide_commits{ :href => "#", :style => "display: none;" }
              x
            %p.reveal
              %a.reveal_commits{ :href => "#" }
                6 commits »
            %img.spin{ :src => "/images/indicator.gif", :style => "display: none;" }
            .commits{ :style => "display: none;" }
              %ul
                %li.first
                  %img{ :src => "/images/b2ebf1ace94370d75c8552cce1555a69.jpg", :height => "16", :alt => "", :width => "16" }
                  %span.committer
                    Bodaniel Jeanes and Dr Nic Williams
                  committed
                  %a{ :href => "https://github.com/hashrocket/pharmmd/commit/b536a1f6ed4f3914b29c27d09f1e118587bdd36e" }
                    b536a1f6
                  \:
                  .message
                    %blockquote{ :title => "Fixed &quot;Barcode is not shown in Prepare Body fax screen&quot; (#1458437)" }
                      Fixed "Barcode is not shown in Prepare Body fax screen" (#1458437)
                %li
                  %img{ :src => "/images/b2ebf1ace94370d75c8552cce1555a69.jpg", :height => "16", :alt => "", :width => "16" }
                  %span.committer
                    Bodaniel Jeanes and Dr Nic Williams
                  committed
                  %a{ :href => "https://github.com/hashrocket/pharmmd/commit/0c34b2296dc8148485fbddce3a8f9193b70f0229" }
                    0c34b229
                  \:
                  .message
                    %blockquote{ :title => "Rescue from ActiveRecord::RecordNotFound to create 404 page" }
                      Rescue from ActiveRecord::RecordNotFound to create 404 page
                %li
                  %img{ :src => "/images/b2ebf1ace94370d75c8552cce1555a69.jpg", :height => "16", :alt => "", :width => "16" }
                  %span.committer
                    Bodaniel Jeanes and Dr Nic Williams
                  committed
                  %a{ :href => "https://github.com/hashrocket/pharmmd/commit/4177882e61f4a4443c9fc5f3f3c336a0878c7549" }
                    4177882e
                  \:
                  .message
                    %blockquote{ :title => "Removed a @wip from feature that was done" }
                      Removed a @wip from feature that was done
                %li
                  %img{ :src => "/images/b2ebf1ace94370d75c8552cce1555a69.jpg", :height => "16", :alt => "", :width => "16" }
                  %span.committer
                    Bodaniel Jeanes and Dr Nic Williams
                  committed
                  %a{ :href => "https://github.com/hashrocket/pharmmd/commit/b07d6d05bca95e73f377d44843f4d2e071e62641" }
                    b07d6d05
                  \:
                  .message
                    %blockquote{ :title => "Fixed bug &quot;Barcode in sample PDF not displaying&quot; (#1458433)" }
                      Fixed bug "Barcode in sample PDF not displaying" (#1458433)
                %li
                  %img{ :src => "/images/b2ebf1ace94370d75c8552cce1555a69.jpg", :height => "16", :alt => "", :width => "16" }
                  %span.committer
                    Bodaniel Jeanes and Dr Nic Williams
                  committed
                  %a{ :href => "https://github.com/hashrocket/pharmmd/commit/3f2d08dd785e919bcd8328156cf9cede46fb16d8" }
                    3f2d08dd
                  \:
                  .message
                    %blockquote{ :title => "Added a step to README" }
                      Added a step to README
                %li
                  %img{ :src => "/images/b2ebf1ace94370d75c8552cce1555a69.jpg", :height => "16", :alt => "", :width => "16" }
                  %span.committer
                    Bodaniel Jeanes and Dr Nic Williams
                  committed
                  %a{ :href => "https://github.com/hashrocket/pharmmd/commit/e7135ccbf0c1a63e607ac10e715842a315dc0977" }
                    e7135ccb
                  \:
                  .message
                    %blockquote{ :title => "Fixed gem dependency location" }
                      Fixed gem dependency location
      .alert.push
        .body
          .title
            %a{ :href => "https://github.com/bjeanes" }
              bjeanes
            %span
              pushed
            to
            master
            at
            %a{ :href => "http://github.com/bjeanes/tmbundle-collection/tree/master" }
              bjeanes/tmbundle-collection
            %abbr.relatize.relatized{ :title => "2009-10-11 17:46:48" }
              about 12 hours ago
          .details
            .gravatar
              %img{ :src => "/images/673b3af90381f26882b7e7283ab137fa.jpg", :height => "30", :alt => "", :width => "30" }
            HEAD is
            %a{ :href => "http://github.com/bjeanes/tmbundle-collection/tree/e6ed8fca1e9acc7588e359f74d8a88f4aebd8e7c" }
              e6ed8fca1e9acc7588e359f74d8a88f4aebd8e7c
            %a.hide_commits{ :href => "#", :style => "display: none;" }
              x
            %img.spin{ :src => "/images/indicator.gif", :style => "display: none;" }
            .commits
              %ul
                %li.first
                  %img{ :src => "/images/673b3af90381f26882b7e7283ab137fa_002.jpg", :height => "16", :alt => "", :width => "16" }
                  %a.committer{ :href => "http://github.com/bjeanes" }
                    bjeanes
                  committed
                  %a{ :href => "http://github.com/bjeanes/tmbundle-collection/commit/e6ed8fca1e9acc7588e359f74d8a88f4aebd8e7c" }
                    e6ed8fca
                  \:
                  .message
                    %blockquote{ :title => "Added Javascript Tools textmate bundle" }
                      Added Javascript Tools textmate bundle
      .alert.push
        .body
          .title
            %a{ :href => "https://github.com/aslakhellesoy" }
              aslakhellesoy
            %span
              pushed
            to
            master
            at
            %a{ :href => "http://github.com/aslakhellesoy/cucumber/tree/master" }
              aslakhellesoy/cucumber
            %abbr.relatize.relatized{ :title => "2009-10-11 16:22:09" }
              about 13 hours ago
          .details
            .gravatar
              %img{ :src => "/images/0be0e4aa42aacd9a8a95c792de273ca7_002.jpg", :height => "30", :alt => "", :width => "30" }
            HEAD is
            %a{ :href => "http://github.com/aslakhellesoy/cucumber/tree/564362be0c3a28aa76f1510683dedaa84f1ed9be" }
              564362be0c3a28aa76f1510683dedaa84f1ed9be
            %a.hide_commits{ :href => "#", :style => "display: none;" }
              x
            %p.reveal
              %a.reveal_commits{ :href => "#" }
                2 commits »
            %img.spin{ :src => "/images/indicator.gif", :style => "display: none;" }
            .commits{ :style => "display: none;" }
              %ul
                %li.first
                  %img{ :src => "/images/0be0e4aa42aacd9a8a95c792de273ca7.jpg", :height => "16", :alt => "", :width => "16" }
                  %a.committer{ :href => "http://github.com/aslakhellesoy" }
                    aslakhellesoy
                  committed
                  %a{ :href => "http://github.com/aslakhellesoy/cucumber/commit/564362be0c3a28aa76f1510683dedaa84f1ed9be" }
                    564362be
                  \:
                  .message
                    %blockquote{ :title => "Cucumber's features now pass on 1.8.6, 1.8.7 and 1.9.1" }
                      Cucumber's features now pass on 1.8.6, 1.8.7 and 1.9.1
                %li
                  %img{ :src => "/images/0be0e4aa42aacd9a8a95c792de273ca7.jpg", :height => "16", :alt => "", :width => "16" }
                  %a.committer{ :href => "http://github.com/aslakhellesoy" }
                    aslakhellesoy
                  committed
                  %a{ :href => "http://github.com/aslakhellesoy/cucumber/commit/3b9c3d6797149e8795f3c0c77ab41a35606d90b4" }
                    3b9c3d67
                  \:
                  .message
                    %blockquote{ :title => "Fix typos" }
                      Fix typos
      .alert.push
        .body
          .title
            %a{ :href => "https://github.com/nex3" }
              nex3
            %span
              pushed
            to
            edge-gem
            at
            %a{ :href => "http://github.com/nex3/haml/tree/edge-gem" }
              nex3/haml
            %abbr.relatize.relatized{ :title => "2009-10-11 15:57:11" }
              about 13 hours ago
          .details
            .gravatar
              %img{ :src => "/images/39b3031f890ad7ce40661614af8b52a6_002.jpg", :height => "30", :alt => "", :width => "30" }
            HEAD is
            %a{ :href => "http://github.com/nex3/haml/tree/411d8078132a936cc49bd5c5069b3d4438043f12" }
              411d8078132a936cc49bd5c5069b3d4438043f12
            %a.hide_commits{ :href => "#", :style => "display: none;" }
              x
            %p.reveal
              %a.reveal_commits{ :href => "#" }
                4 commits »
            %img.spin{ :src => "/images/indicator.gif", :style => "display: none;" }
            .commits{ :style => "display: none;" }
              %ul
                %li.first
                  %img{ :src => "/images/39b3031f890ad7ce40661614af8b52a6.jpg", :height => "16", :alt => "", :width => "16" }
                  %a.committer{ :href => "http://github.com/nex3" }
                    nex3
                  committed
                  %a{ :href => "http://github.com/nex3/haml/commit/411d8078132a936cc49bd5c5069b3d4438043f12" }
                    411d8078
                  \:
                  .message
                    %blockquote{ :title => "Bump edge gem version to 2.3.47." }
                      Bump edge gem version to 2.3.47.
                %li
                  %img{ :src => "/images/39b3031f890ad7ce40661614af8b52a6.jpg", :height => "16", :alt => "", :width => "16" }
                  %a.committer{ :href => "http://github.com/nex3" }
                    nex3
                  committed
                  %a{ :href => "http://github.com/nex3/haml/commit/202915fde7b51fb33de7eabe3a68282dc6e468c7" }
                    202915fd
                  \:
                  .message
                    %blockquote{ :title => "Merge commit 'origin/master' into edge-gem" }
                      Merge commit 'origin/master' into edge-gem
                %li
                  %img{ :src => "/images/39b3031f890ad7ce40661614af8b52a6.jpg", :height => "16", :alt => "", :width => "16" }
                  %a.committer{ :href => "http://github.com/nex3" }
                    nex3
                  committed
                  %a{ :href => "http://github.com/nex3/haml/commit/97b9dd83785379205de696b2bd82492dc09363be" }
                    97b9dd83
                  \:
                  .message
                    %blockquote{ :title => "Merge branch 'stable'\n\nConflicts:\n\tVERSION\n\tdoc-src/HAML_CHANGELOG.md\n\tdoc-src/SASS_CHANGELOG.md" }
                      Merge branch 'stable'
                %li
                  %img{ :src => "/images/39b3031f890ad7ce40661614af8b52a6.jpg", :height => "16", :alt => "", :width => "16" }
                  %a.committer{ :href => "http://github.com/nex3" }
                    nex3
                  committed
                  %a{ :href => "http://github.com/nex3/haml/commit/21b5641b4d427fc7701d0f5b55e28eed5cf3fc37" }
                    21b5641b
                  \:
                  .message
                    %blockquote{ :title => "Bump VERSION to 2.2.8." }
                      Bump VERSION to 2.2.8.
      .pagination.ajax_paginate
        %a{ :href => "https://github.com/dashboard/ajax/2" }
          More
    #your_repos.repos
      .top-bar
        %h2
          Your Repositories
          %em
            (110)
        %a.button.new-repo{ :href => "https://github.com/repositories/new" }
          New Repository
      .filter-bar
        %input.filter_input.placeholder{ :placeholder => "Find a repository\342\200\246", :type => "search" }
        %ul.repo_filterer
          %li.all_repos
            %a.repo_filter.filter_selected{ :href => "#", :rel => "public, li.private" }
              All Repositories
          %li
            %a.repo_filter{ :href => "#", :rel => "public" }
              Public
          %li
            %a.repo_filter{ :href => "#", :rel => "private" }
              Private
          %li
            %a.repo_filter{ :href => "#", :rel => "source" }
              Sources
          %li
            %a.repo_filter{ :href => "#", :rel => "fork" }
              Forks
      %ul#repo_listing.repo_list
        %li.public.source
          %a{ :href => "http://github.com/drnic/install_theme" }
            %span.owner
              drnic
            \/
            %span.repo
              install_theme
        %li.public.source
          %a{ :href => "http://github.com/drnic/octokittylitter" }
            %span.owner
              drnic
            \/
            %span.repo
              octokittylitter
        %li.private.source
          %a{ :href => "https://github.com/drnic/drnicwilliams" }
            %span.owner
              drnic
            \/
            %span.repo
              drnicwilliams
        %li.public.fork
          %a{ :href => "http://github.com/drnic/efax" }
            %span.owner
              drnic
            \/
            %span.repo
              efax
        %li.public.fork
          %a{ :href => "http://github.com/drnic/rails-templates" }
            %span.owner
              drnic
            \/
            %span.repo
              rails-templates
        %li.public.source
          %a{ :href => "http://github.com/drnic/ruby-tmbundle" }
            %span.owner
              drnic
            \/
            %span.repo
              ruby-tmbundle
        %li.public.fork
          %a{ :href => "http://github.com/drnic/cucumber-tmbundle" }
            %span.owner
              drnic
            \/
            %span.repo
              cucumber-tmbundle
        %li.public.fork
          %a{ :href => "http://github.com/drnic/princely" }
            %span.owner
              drnic
            \/
            %span.repo
              princely
        %li.public.fork
          %a{ :href => "http://github.com/drnic/haml" }
            %span.owner
              drnic
            \/
            %span.repo
              haml
        %li.public.source
          %a{ :href => "http://github.com/drnic/newgem" }
            %span.owner
              drnic
            \/
            %span.repo
              newgem
      .bottom-bar
        %a#inline_your_repos.show-more{ :href => "#" }
          Show 100 more repositories…
    #watched_repos.repos.watching
      .top-bar
        %h2
          Watched Repositories
          %em
            (273)
      .filter-bar
        %input.filter_input.placeholder{ :placeholder => "Find a repository\342\200\246", :type => "search" }
        %ul.repo_filterer
          %li.all_repos
            %a.repo_filter.filter_selected{ :href => "#", :rel => "public, li.private" }
              All Repositories
          %li
            %a.repo_filter{ :href => "#", :rel => "public" }
              Public
          %li
            %a.repo_filter{ :href => "#", :rel => "private" }
              Private
          %li
            %a.repo_filter{ :href => "#", :rel => "source" }
              Sources
          %li
            %a.repo_filter{ :href => "#", :rel => "fork" }
              Forks
      %ul#watched_repo_listing.repo_list
        %li.public.source
          %a{ :href => "http://github.com/oggy/ruby-bash-completion" }
            %span.owner
              oggy
            \/
            %span.repo
              ruby-bash-completion
        %li.public.source
          %a{ :href => "http://github.com/aslakhellesoy/cucumber" }
            %span.owner
              aslakhellesoy
            \/
            %span.repo
              cucumber
        %li.public.source
          %a{ :href => "http://github.com/hassox/warden" }
            %span.owner
              hassox
            \/
            %span.repo
              warden
        %li.public.source
          %a{ :href => "http://github.com/masterkain/macruby" }
            %span.owner
              masterkain
            \/
            %span.repo
              macruby
        %li.private.source
          %a{ :href => "https://github.com/hashrocket/pharmmd" }
            %span.owner
              hashrocket
            \/
            %span.repo
              pharmmd
        %li.public.fork
          %a{ :href => "http://github.com/relevance/blue-ridge" }
            %span.owner
              relevance
            \/
            %span.repo
              blue-ridge
        %li.public.source
          %a{ :href => "http://github.com/bjeanes/tmbundle-collection" }
            %span.owner
              bjeanes
            \/
            %span.repo
              tmbundle-collection
        %li.public.source
          %a{ :href => "http://github.com/nex3/haml" }
            %span.owner
              nex3
            \/
            %span.repo
              haml
        %li.public.source
          %a{ :href => "http://github.com/jarib/celerity" }
            %span.owner
              jarib
            \/
            %span.repo
              celerity
        %li.public.source
          %a{ :href => "http://github.com/michaeldv/fat_free_crm" }
            %span.owner
              michaeldv
            \/
            %span.repo
              fat_free_crm
      .bottom-bar
        %a#inline_watched_repos.show-more{ :href => "#" }
          Show 263 more repositories…
