/* Decent styling of formtastic forms */
form fieldset {
  border: 0;
  margin-top: 1em;
}

form li {
  list-style-type: none;
}

form li {
  margin: 0 0 0.5em;
  clear: both;
}

form li input, form li textarea {
  width: 300px;
}

form label {
  display: block;
  text-align: right;
  width: 12em;
  float: left;
  position: relative;
  top: 6px;
  padding-right: 6px; }

form .inline-errors {
  display: inline;
  color: red;
}