%p
  You are using named yields. Here are examples how to use them:
- content_for :head do
  %script
/
  original body content
%h1
  comments on our commit
.hidden_message{ :style => "" }
  .header
    .gravatar
      %img{ :src => "/images/cb2b768a5e546b24052ea03334e43676.jpg", :height => "30", :alt => "", :width => "30" }
    .info
      .del
        %a{ :href => "#" }
          %img{ :src => "/images/delete.png", :alt => "delete" }
      .title
        %a{ :href => "http://github.com/drnic" }
          drnic
        said
        4 days ago:
  .body.wikistyle
    %p
      Hey Nathan,
    %p
      I only just noticed all your comments (
      %a{ :href => "http://github.com/drnic/haml/commit/4e9dfdc1a5e07bf852de7828b0244dde098a2bd6#test/haml/html2haml_test" }
        http://github.com/drnic/haml/commit/4e9dfdc1a5e07bf852de7828b0244dde098a2bd6#test/haml/html2haml_test
      \.rb-P244) when I was about to ping you asking "when will the commits be released?"
    %p
      In answer to some of the questions, the tests ended like this
      because it was awful awful work trying to get html2haml to work. Having
      1 large example case ensured that we covered all cases. There might be
      a redundant second test from the times we were originally trying to
      break down the tests into "test this bit".
    %p
      Are any of these comments reason to not accept the patch/commits and push them out?
    %p
      I ask because I don't want to release install_theme with haml's
      current dodgy html2haml support (I've already set haml 2.3.0 in its gem
      spec.
    %p
      Cheers
      %br
      Nic
.hidden_message{ :style => "" }
  .header
    .gravatar
      %img{ :src => "/images/39b3031f890ad7ce40661614af8b52a6.jpg", :height => "30", :alt => "", :width => "30" }
    .info
      .title
        %a{ :href => "http://github.com/nex3" }
          nex3
        said
        4 days ago:
  .body.wikistyle
    %p
      Sorry,
      I sent a message to Jack about the comments, but I forgot to cc you.
      The comments are things I'd like resolved before merging, if possible.
      If that's too much of a pain, I can do some of them myself.
    %p
      As for releasing, I was planning on releasing this as part of Haml
      2.4.0, which is going out at some unspecified point in the future.
      There is a haml-edge gem that's released automatically every time I
      push to master with version 3.3.X that you could depend on in the
      interim. I'd rather not put these changes in stable, though, since
      stable is supposed to only have minor bugfixes, not major changes to
      functionality.
.reply
  %form#reply{ :action => "/inbox/create_reply", :method => "post" }
    %label{ :for => "reply_body" }
      Reply:
    %textarea#reply_body{ :name => "body" }
    %input{ :name => "message_id", :type => "hidden", :value => "265609" }
    .controls
      .submits
        %input{ :type => "submit", :value => "Send" }
        %a.cancel{ :href => "#" }
          Back to Inbox
        %span.status{ :style => "display: none;" }
      .formatting
        Parsed with
        %a{ :href => "http://github.github.com/github-flavored-markdown/", :target => "_blank" }
          GitHub Flavored Markdown
