#home
  .announce
    %h1
      Octo Kitty Litter - GitHub Sandbox

  %p
    %a{ :href => '/images/octokittylitter.png' }
      %img{ :src => '/images/octokittylitter.png', :width => '400px', :style => 'margin-bottom: 1em' }
    
  %h2{:style => "color: red" }
    This is not the real GitHub. It's a sample sandbox.

  .features
    .site
      %p
        Say you wanted to build a third party GitHub service that interacted
        with either the Github APIs or the website itself, then you'd just
        love to have a Sandbox - a fake Github site that behaved like Github
        but you controlled the internal data.
      %p
        = link_to "Octo Kitty Litter", "http://github.com/drnic/octokittylitter"
        is that Sandbox.
      %p
        Why "Octo Kitty Litter"? It's the Sandbox for Github's Octocat.
      %p
        Currently, only two features of GitHub have been implemented: registration/login, and the
        inbox/mail system.