.compose
  %p
    %a{ :href => "http://github.com/inbox/new" }
      %img{ :src => "/images/message.png", :alt => "compose" }
      %span
        Compose Message
.boxes
  %ul
    %li
      %a.new{ :href => "http://github.com/inbox" }
        Inbox (123)
    %li
      %a{ :href => "http://github.com/inbox/sent" }
        Sent Messages
